body {
    font-family: "Young Serif", serif;
    ;
}

* {
    padding: 0;
    margin: 0;
}

.section-one {
    background-color: rgb(207, 210, 101);
    color: white;
    padding: 20 px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact {
    background-color: aliceblue;
    color: black;
    text-decoration: none;
    padding-bottom: 50px;
}

.section-one,
section-two,
section-three,
section-four,
section-five {
    padding: 30px;
}

.section-two,
.section-three,
.section-four,
.section-five {
    padding: 20px;

}

.section-two__title {
    background-color: rgb(94, 139, 60);
}

.section-three {
    background-color: rgb(130, 201, 24);
    color: beige;
    height: 200px;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    margin-left: 10px;
    vertical-align: top;
}

.section-three__desc {
    padding: 10px;
    text-decoration: none;
}

.section-four {
    background-color: rgb(208, 225, 150);
    color: whitesmoke;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: inline-block;
    padding: 20px;
    height: 200px;
    vertical-align: top;
    border-radius: 20px;
}

.section-five__desc {
    background-color: rgb(195, 228, 160)
}

.section-five {
    background-color: rgb(200, 231, 87);
}

.section-three,
.section-four__li {
    list-style: none;
}

.section-five__title {
    color: beige;
}

.section-five__head {
    color: black;
}

.section-five__desc {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.contact-form {
    margin-top: 20px;
}

.contact-form__input,
.contact-form__textarea,
.contact-form__submit {
    margin-top: 20px;
}

.contact-form__input {
    padding: 10px;
    border: none;
    border: solid rgb(198, 238, 112) 1px;
}

.contact-form__textarea {
    padding: 10px;
    border: 1px;
    border: solid rgb(197, 239, 83) 1px;
}

.contact-form__submit {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(247, 241, 67);
    color: beige;
    border: none;
    border-radius: 1px;

}
.section-six__desc {
    background-color: rgb(181, 225, 61)
}

.section-six {
    padding: 20px;
    background-color: rgb(209, 232, 37);
    border-radius: 20px;
}
.section-six__desc {
    padding: 10px;
    border-radius: 10px;
}
.section-six__title{
    background-color: rgb(253, 240, 56);
    color: white;
    display: inline;
}
.section-six__in{
    color: white;
}
.profile {
  position: relative;
  top: -90px; /* moves the image up */
  width: 140px; 

}
.profile-container {
    display: flex;
    justify-content: left;  /* center horizontally */
    align-items: flex-start;  /* align at the top */
    padding-top: 20px;
}
